In [1]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

In [5]:
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'd'],
                'data1': range(7)})
df2 = DataFrame({'key': ['a', 'b', 'd'],
                'data2': range(3)})

In [6]:
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   d

In [7]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [8]:
pd.merge(df1, df2)

   data1 key  data2
0      0   b      1
1      1   b      1
2      2   a      0
3      4   a      0
4      5   a      0
5      6   d      2

In [9]:
pd.merge(df1, df2, on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      2   a      0
3      4   a      0
4      5   a      0
5      6   d      2

In [13]:
arr = np.arange(12).reshape(3,4)

In [14]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [15]:
np.concatenate([arr, arr], axis=1)

array([[ 0,  1,  2,  3,  0,  1,  2,  3],
       [ 4,  5,  6,  7,  4,  5,  6,  7],
       [ 8,  9, 10, 11,  8,  9, 10, 11]])

In [16]:
data = DataFrame(np.arange(6).reshape(2, 3), index=pd.Index(['Ohio', 'Colorado'], name='state'), columns=pd.Index(['one', 'two', 'three'], name='number'))

In [17]:
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [18]:
result = data.stack()

In [19]:
result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int32

In [20]:
result.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [22]:
val = 'a, b,   guido'

In [23]:
val

'a, b,   guido'

In [24]:
val.split(',')

['a', ' b', '   guido']

In [28]:
pieces = [x.strip() for x in val.split(',')]

In [29]:
pieces

['a', 'b', 'guido']

In [30]:
first, second, third = pieces

In [31]:
first + '::' + second + '::' + third

'a::b::guido'

In [32]:
'::'.join(pieces)

'a::b::guido'

In [33]:
val

'a, b,   guido'

In [34]:
'guido' in val

True

In [35]:
val.index(',')

1

In [36]:
val

'a, b,   guido'

In [37]:
val.find(':')

-1

In [38]:
import re

In [41]:
text = "foo bar\t baz  \tqux"

In [42]:
text

'foo bar\t baz  \tqux'

In [43]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [44]:
re.findall('\s+', text)

[' ', '\t ', '  \t']

In [45]:
import json

In [47]:
db = json.load(open('../pydata-book/ch07/foods-2011-10-03.json'))

In [49]:
len(db)

6636

In [53]:
db[0]

{'description': 'Cheese, caraway',
 'group': 'Dairy and Egg Products',
 'id': 1008,
 'manufacturer': '',
 'nutrients': [{'description': 'Protein',
   'group': 'Composition',
   'units': 'g',
   'value': 25.18},
  {'description': 'Total lipid (fat)',
   'group': 'Composition',
   'units': 'g',
   'value': 29.2},
  {'description': 'Carbohydrate, by difference',
   'group': 'Composition',
   'units': 'g',
   'value': 3.06},
  {'description': 'Ash', 'group': 'Other', 'units': 'g', 'value': 3.28},
  {'description': 'Energy',
   'group': 'Energy',
   'units': 'kcal',
   'value': 376.0},
  {'description': 'Water',
   'group': 'Composition',
   'units': 'g',
   'value': 39.28},
  {'description': 'Energy', 'group': 'Energy', 'units': 'kJ', 'value': 1573.0},
  {'description': 'Fiber, total dietary',
   'group': 'Composition',
   'units': 'g',
   'value': 0.0},
  {'description': 'Calcium, Ca',
   'group': 'Elements',
   'units': 'mg',
   'value': 673.0},
  {'description': 'Iron, Fe',
   'group': 'Elements',
   'units': 'mg',
   'value': 0.64},
  {'description': 'Magnesium, Mg',
   'group': 'Elements',
   'units': 'mg',
   'value': 22.0},
  {'description': 'Phosphorus, P',
   'group': 'Elements',
   'units': 'mg',
   'value': 490.0},
  {'description': 'Potassium, K',
   'group': 'Elements',
   'units': 'mg',
   'value': 93.0},
  {'description': 'Sodium, Na',
   'group': 'Elements',
   'units': 'mg',
   'value': 690.0},
  {'description': 'Zinc, Zn',
   'group': 'Elements',
   'units': 'mg',
   'value': 2.94},
  {'description': 'Copper, Cu',
   'group': 'Elements',
   'units': 'mg',
   'value': 0.024},
  {'description': 'Manganese, Mn',
   'group': 'Elements',
   'units': 'mg',
   'value': 0.021},
  {'description': 'Selenium, Se',
   'group': 'Elements',
   'units': 'mcg',
   'value': 14.5},
  {'description': 'Vitamin A, IU',
   'group': 'Vitamins',
   'units': 'IU',
   'value': 1054.0},
  {'description': 'Retinol',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 262.0},
  {'description': 'Vitamin A, RAE',
   'group': 'Vitamins',
   'units': 'mcg_RAE',
   'value': 271.0},
  {'description': 'Vitamin C, total ascorbic acid',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.0},
  {'description': 'Thiamin',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.031},
  {'description': 'Riboflavin',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.45},
  {'description': 'Niacin', 'group': 'Vitamins', 'units': 'mg', 'value': 0.18},
  {'description': 'Pantothenic acid',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.19},
  {'description': 'Vitamin B-6',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.074},
  {'description': 'Folate, total',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 18.0},
  {'description': 'Vitamin B-12',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 0.27},
  {'description': 'Folic acid',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 0.0},
  {'description': 'Folate, food',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 18.0},
  {'description': 'Folate, DFE',
   'group': 'Vitamins',
   'units': 'mcg_DFE',
   'value': 18.0},
  {'description': 'Cholesterol',
   'group': 'Other',
   'units': 'mg',
   'value': 93.0},
  {'description': 'Fatty acids, total saturated',
   'group': 'Other',
   'units': 'g',
   'value': 18.584},
  {'description': 'Fatty acids, total monounsaturated',
   'group': 'Other',
   'units': 'g',
   'value': 8.275},
  {'description': 'Fatty acids, total polyunsaturated',
   'group': 'Other',
   'units': 'g',
   'value': 0.83},
  {'description': 'Tryptophan',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.324},
  {'description': 'Threonine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.896},
  {'description': 'Isoleucine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.563},
  {'description': 'Leucine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 2.412},
  {'description': 'Lysine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 2.095},
  {'description': 'Methionine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.659},
  {'description': 'Cystine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.126},
  {'description': 'Phenylalanine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.326},
  {'description': 'Tyrosine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.216},
  {'description': 'Valine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.682},
  {'description': 'Arginine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.952},
  {'description': 'Histidine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.884},
  {'description': 'Alanine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.711},
  {'description': 'Aspartic acid',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.618},
  {'description': 'Glutamic acid',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 6.16},
  {'description': 'Glycine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.439},
  {'description': 'Proline',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 2.838},
  {'description': 'Serine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.472},
  {'description': 'Protein',
   'group': 'Composition',
   'units': 'g',
   'value': 25.18},
  {'description': 'Total lipid (fat)',
   'group': 'Composition',
   'units': 'g',
   'value': 29.2},
  {'description': 'Carbohydrate, by difference',
   'group': 'Composition',
   'units': 'g',
   'value': 3.06},
  {'description': 'Ash', 'group': 'Other', 'units': 'g', 'value': 3.28},
  {'description': 'Energy',
   'group': 'Energy',
   'units': 'kcal',
   'value': 376.0},
  {'description': 'Water',
   'group': 'Composition',
   'units': 'g',
   'value': 39.28},
  {'description': 'Energy', 'group': 'Energy', 'units': 'kJ', 'value': 1573.0},
  {'description': 'Fiber, total dietary',
   'group': 'Composition',
   'units': 'g',
   'value': 0.0},
  {'description': 'Calcium, Ca',
   'group': 'Elements',
   'units': 'mg',
   'value': 673.0},
  {'description': 'Iron, Fe',
   'group': 'Elements',
   'units': 'mg',
   'value': 0.64},
  {'description': 'Magnesium, Mg',
   'group': 'Elements',
   'units': 'mg',
   'value': 22.0},
  {'description': 'Phosphorus, P',
   'group': 'Elements',
   'units': 'mg',
   'value': 490.0},
  {'description': 'Potassium, K',
   'group': 'Elements',
   'units': 'mg',
   'value': 93.0},
  {'description': 'Sodium, Na',
   'group': 'Elements',
   'units': 'mg',
   'value': 690.0},
  {'description': 'Zinc, Zn',
   'group': 'Elements',
   'units': 'mg',
   'value': 2.94},
  {'description': 'Copper, Cu',
   'group': 'Elements',
   'units': 'mg',
   'value': 0.024},
  {'description': 'Manganese, Mn',
   'group': 'Elements',
   'units': 'mg',
   'value': 0.021},
  {'description': 'Selenium, Se',
   'group': 'Elements',
   'units': 'mcg',
   'value': 14.5},
  {'description': 'Vitamin A, IU',
   'group': 'Vitamins',
   'units': 'IU',
   'value': 1054.0},
  {'description': 'Retinol',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 262.0},
  {'description': 'Vitamin A, RAE',
   'group': 'Vitamins',
   'units': 'mcg_RAE',
   'value': 271.0},
  {'description': 'Vitamin C, total ascorbic acid',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.0},
  {'description': 'Thiamin',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.031},
  {'description': 'Riboflavin',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.45},
  {'description': 'Niacin', 'group': 'Vitamins', 'units': 'mg', 'value': 0.18},
  {'description': 'Pantothenic acid',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.19},
  {'description': 'Vitamin B-6',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.074},
  {'description': 'Folate, total',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 18.0},
  {'description': 'Vitamin B-12',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 0.27},
  {'description': 'Folic acid',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 0.0},
  {'description': 'Folate, food',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 18.0},
  {'description': 'Folate, DFE',
   'group': 'Vitamins',
   'units': 'mcg_DFE',
   'value': 18.0},
  {'description': 'Tryptophan',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.324},
  {'description': 'Threonine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.896},
  {'description': 'Isoleucine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.563},
  {'description': 'Leucine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 2.412},
  {'description': 'Lysine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 2.095},
  {'description': 'Methionine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.659},
  {'description': 'Cystine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.126},
  {'description': 'Phenylalanine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.326},
  {'description': 'Tyrosine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.216},
  {'description': 'Valine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.682},
  {'description': 'Arginine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.952},
  {'description': 'Histidine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.884},
  {'description': 'Alanine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.711},
  {'description': 'Aspartic acid',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.618},
  {'description': 'Glutamic acid',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 6.16},
  {'description': 'Glycine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.439},
  {'description': 'Proline',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 2.838},
  {'description': 'Serine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.472},
  {'description': 'Cholesterol',
   'group': 'Other',
   'units': 'mg',
   'value': 93.0},
  {'description': 'Fatty acids, total saturated',
   'group': 'Other',
   'units': 'g',
   'value': 18.584},
  {'description': 'Fatty acids, total monounsaturated',
   'group': 'Other',
   'units': 'g',
   'value': 8.275},
  {'description': 'Fatty acids, total polyunsaturated',
   'group': 'Other',
   'units': 'g',
   'value': 0.83},
  {'description': 'Protein',
   'group': 'Composition',
   'units': 'g',
   'value': 25.18},
  {'description': 'Total lipid (fat)',
   'group': 'Composition',
   'units': 'g',
   'value': 29.2},
  {'description': 'Carbohydrate, by difference',
   'group': 'Composition',
   'units': 'g',
   'value': 3.06},
  {'description': 'Ash', 'group': 'Other', 'units': 'g', 'value': 3.28},
  {'description': 'Energy',
   'group': 'Energy',
   'units': 'kcal',
   'value': 376.0},
  {'description': 'Water',
   'group': 'Composition',
   'units': 'g',
   'value': 39.28},
  {'description': 'Energy', 'group': 'Energy', 'units': 'kJ', 'value': 1573.0},
  {'description': 'Fiber, total dietary',
   'group': 'Composition',
   'units': 'g',
   'value': 0.0},
  {'description': 'Calcium, Ca',
   'group': 'Elements',
   'units': 'mg',
   'value': 673.0},
  {'description': 'Iron, Fe',
   'group': 'Elements',
   'units': 'mg',
   'value': 0.64},
  {'description': 'Magnesium, Mg',
   'group': 'Elements',
   'units': 'mg',
   'value': 22.0},
  {'description': 'Phosphorus, P',
   'group': 'Elements',
   'units': 'mg',
   'value': 490.0},
  {'description': 'Potassium, K',
   'group': 'Elements',
   'units': 'mg',
   'value': 93.0},
  {'description': 'Sodium, Na',
   'group': 'Elements',
   'units': 'mg',
   'value': 690.0},
  {'description': 'Zinc, Zn',
   'group': 'Elements',
   'units': 'mg',
   'value': 2.94},
  {'description': 'Copper, Cu',
   'group': 'Elements',
   'units': 'mg',
   'value': 0.024},
  {'description': 'Manganese, Mn',
   'group': 'Elements',
   'units': 'mg',
   'value': 0.021},
  {'description': 'Selenium, Se',
   'group': 'Elements',
   'units': 'mcg',
   'value': 14.5},
  {'description': 'Vitamin A, IU',
   'group': 'Vitamins',
   'units': 'IU',
   'value': 1054.0},
  {'description': 'Retinol',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 262.0},
  {'description': 'Vitamin A, RAE',
   'group': 'Vitamins',
   'units': 'mcg_RAE',
   'value': 271.0},
  {'description': 'Vitamin C, total ascorbic acid',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.0},
  {'description': 'Thiamin',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.031},
  {'description': 'Riboflavin',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.45},
  {'description': 'Niacin', 'group': 'Vitamins', 'units': 'mg', 'value': 0.18},
  {'description': 'Pantothenic acid',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.19},
  {'description': 'Vitamin B-6',
   'group': 'Vitamins',
   'units': 'mg',
   'value': 0.074},
  {'description': 'Folate, total',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 18.0},
  {'description': 'Vitamin B-12',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 0.27},
  {'description': 'Folic acid',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 0.0},
  {'description': 'Folate, food',
   'group': 'Vitamins',
   'units': 'mcg',
   'value': 18.0},
  {'description': 'Folate, DFE',
   'group': 'Vitamins',
   'units': 'mcg_DFE',
   'value': 18.0},
  {'description': 'Tryptophan',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.324},
  {'description': 'Threonine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.896},
  {'description': 'Isoleucine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.563},
  {'description': 'Leucine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 2.412},
  {'description': 'Lysine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 2.095},
  {'description': 'Methionine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.659},
  {'description': 'Cystine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.126},
  {'description': 'Phenylalanine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.326},
  {'description': 'Tyrosine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.216},
  {'description': 'Valine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.682},
  {'description': 'Arginine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.952},
  {'description': 'Histidine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.884},
  {'description': 'Alanine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.711},
  {'description': 'Aspartic acid',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.618},
  {'description': 'Glutamic acid',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 6.16},
  {'description': 'Glycine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 0.439},
  {'description': 'Proline',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 2.838},
  {'description': 'Serine',
   'group': 'Amino Acids',
   'units': 'g',
   'value': 1.472},
  {'description': 'Cholesterol',
   'group': 'Other',
   'units': 'mg',
   'value': 93.0},
  {'description': 'Fatty acids, total saturated',
   'group': 'Other',
   'units': 'g',
   'value': 18.584},
  {'description': 'Fatty acids, total monounsaturated',
   'group': 'Other',
   'units': 'g',
   'value': 8.275},
  {'description': 'Fatty acids, total polyunsaturated',
   'group': 'Other',
   'units': 'g',
   'value': 0.83}],
 'portions': [{'amount': 1, 'grams': 28.35, 'unit': 'oz'}],
 'tags': []}

In [52]:
db[0].keys()

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [54]:
db[0]['nutrients'][0]

{'description': 'Protein',
 'group': 'Composition',
 'units': 'g',
 'value': 25.18}

In [55]:
nu = DataFrame(db[0]['nutrients'])

In [56]:
nu

                            description        group    units     value
0                               Protein  Composition        g    25.180
1                     Total lipid (fat)  Composition        g    29.200
2           Carbohydrate, by difference  Composition        g     3.060
3                                   Ash        Other        g     3.280
4                                Energy       Energy     kcal   376.000
5                                 Water  Composition        g    39.280
6                                Energy       Energy       kJ  1573.000
7                  Fiber, total dietary  Composition        g     0.000
8                           Calcium, Ca     Elements       mg   673.000
9                              Iron, Fe     Elements       mg     0.640
10                        Magnesium, Mg     Elements       mg    22.000
11                        Phosphorus, P     Elements       mg   490.000
12                         Potassium, K     Elements       mg    93.000
13                           Sodium, Na     Elements       mg   690.000
14                             Zinc, Zn     Elements       mg     2.940
15                           Copper, Cu     Elements       mg     0.024
16                        Manganese, Mn     Elements       mg     0.021
17                         Selenium, Se     Elements      mcg    14.500
18                        Vitamin A, IU     Vitamins       IU  1054.000
19                              Retinol     Vitamins      mcg   262.000
20                       Vitamin A, RAE     Vitamins  mcg_RAE   271.000
21       Vitamin C, total ascorbic acid     Vitamins       mg     0.000
22                              Thiamin     Vitamins       mg     0.031
23                           Riboflavin     Vitamins       mg     0.450
24                               Niacin     Vitamins       mg     0.180
25                     Pantothenic acid     Vitamins       mg     0.190
26                          Vitamin B-6     Vitamins       mg     0.074
27                        Folate, total     Vitamins      mcg    18.000
28                         Vitamin B-12     Vitamins      mcg     0.270
29                           Folic acid     Vitamins      mcg     0.000
..                                  ...          ...      ...       ...
132                              Niacin     Vitamins       mg     0.180
133                    Pantothenic acid     Vitamins       mg     0.190
134                         Vitamin B-6     Vitamins       mg     0.074
135                       Folate, total     Vitamins      mcg    18.000
136                        Vitamin B-12     Vitamins      mcg     0.270
137                          Folic acid     Vitamins      mcg     0.000
138                        Folate, food     Vitamins      mcg    18.000
139                         Folate, DFE     Vitamins  mcg_DFE    18.000
140                          Tryptophan  Amino Acids        g     0.324
141                           Threonine  Amino Acids        g     0.896
142                          Isoleucine  Amino Acids        g     1.563
143                             Leucine  Amino Acids        g     2.412
144                              Lysine  Amino Acids        g     2.095
145                          Methionine  Amino Acids        g     0.659
146                             Cystine  Amino Acids        g     0.126
147                       Phenylalanine  Amino Acids        g     1.326
148                            Tyrosine  Amino Acids        g     1.216
149                              Valine  Amino Acids        g     1.682
150                            Arginine  Amino Acids        g     0.952
151                           Histidine  Amino Acids        g     0.884
152                             Alanine  Amino Acids        g     0.711
153                       Aspartic acid  Amino Acids        g     1.618
154                       Glutamic acid  Amino Acids        g     6.160
155                             Glycine  Amino Acids        g     0.439
156                             Proline  Amino Acids        g     2.838
157                              Serine  Amino Acids        g     1.472
158                         Cholesterol        Other       mg    93.000
159        Fatty acids, total saturated        Other        g    18.584
160  Fatty acids, total monounsaturated        Other        g     8.275
161  Fatty acids, total polyunsaturated        Other        g     0.830

[162 rows x 4 columns]