In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
!cat ../pydata-book/ch06/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
df = pd.read_csv('../pydata-book/ch06/ex1.csv')

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_table('../pydata-book/ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat ../pydata-book/ch06/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
pd.read_csv('../pydata-book/ch06/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:
pd.read_csv('../pydata-book/ch06/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('../pydata-book/ch06/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [10]:
parsed = pd.read_csv('../pydata-book/ch06/csv_mindex.csv', index_col=['key1', 'key2'])

In [11]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [12]:
list(open('../pydata-book/ch06/ex3.csv'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491']

In [13]:
result = pd.read_table('../pydata-book/ch06/ex3.csv', sep='\s+')

In [14]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [15]:
!cat ../pydata-book/ch06/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [16]:
pd.read_csv('../pydata-book/ch06/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [17]:
!cat ../pydata-book/ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [18]:
result = pd.read_csv('../pydata-book/ch06/ex5.csv')

In [19]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [20]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [21]:
result =  pd.read_csv('../pydata-book/ch06/ex5.csv', na_values=['NULL'])

In [22]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [23]:
result = pd.read_csv('../pydata-book/ch06/ex6.csv')

In [24]:
result = pd.read_csv('../pydata-book/ch06/ex6.csv', nrows=5)

In [25]:
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [26]:
chunker = pd.read_csv('../pydata-book/ch06/ex6.csv', chunksize=1000)

In [27]:
chunker

In [28]:
tot = Series()

In [29]:
tot

Series([], dtype: float64)

In [30]:
tot = Series([])

In [31]:
tot

Series([], dtype: float64)

In [32]:
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
tot = tot.sort_values(ascending=False)

In [33]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [34]:
data = pd.read_csv('../pydata-book/ch06/ex5.csv')

In [35]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [36]:
!cat ../pydata-book/ch06/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [37]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [38]:
data.to_csv(sys.stdout)

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [39]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [60]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [61]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [62]:
dates = pd.date_range('1/1/2000', periods=7)

In [63]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [64]:
ts = Series(np.arange(7), index=dates)

In [65]:
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [66]:
ts.to_csv('ch06/tseries.csv')

In [47]:
!cat ch06/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [48]:
!cat ../pydata-book/ch06/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [49]:
import csv
f = open('../pydata-book/ch06/ex7.csv')
reader = csv.reader(f)
reader

In [50]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

In [69]:
lines = list(csv.reader(open('../pydata-book/ch06/ex7.csv')))
lines

list

In [70]:
type(lines)

list

In [3]:
obj = """
{"names": "Wes",
 "places_lives": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"names": "Scott", "age": 25, "pet": "Zuko"},
             {"names": "Katie", "age": 30, "pet": "Ciisco"}]
}
"""

In [4]:
obj

'\n{"names": "Wes",\n "places_lives": ["United States", "Spain", "Germany"],\n "pet": null,\n "siblings": [{"names": "Scott", "age": 25, "pet": "Zuko"},\n             {"names": "Katie", "age": 30, "pet": "Ciisco"}]\n}\n'

In [5]:
import json

In [6]:
result = json.loads(obj)

In [7]:
result

{'names': 'Wes',
 'pet': None,
 'places_lives': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'names': 'Scott', 'pet': 'Zuko'},
  {'age': 30, 'names': 'Katie', 'pet': 'Ciisco'}]}

In [56]:
asjson = json.dumps(result)

In [57]:
asjson

'{"names": "Wes", "places_lives": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"names": "Scott", "age": 25, "pet": "Zuko"}, {"names": "Katie", "age": 30, "pet": "Ciisco"}]}'

In [58]:
siblings = DataFrame(result['siblings'], columns=['names', 'age'])

In [59]:
siblings

   names  age
0  Scott   25
1  Katie   30

In [16]:
from lxml.html import parse
from urllib.request import urlopen

In [20]:
parsed = parse(urlopen('https://finance.yahoo.com/quote/AAPL/options?ltr=1'))

In [21]:
parsed

In [23]:
doc = parsed.getroot()

In [24]:
doc

In [25]:
links = doc.findall('.//a')

In [26]:
links[15:20]

[<Element a at 0x1eb32ffa818>,
 <Element a at 0x1eb32ffa868>,
 <Element a at 0x1eb32ffa8b8>,
 <Element a at 0x1eb32ffa908>,
 <Element a at 0x1eb32ffa958>]

In [31]:
lnk = links[29]

In [32]:
lnk

In [33]:
lnk.get('href')

'/quote/TSLA?p=TSLA'

In [34]:
lnk.text_content()

'TSLA'

In [35]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]

In [37]:
urls[-10:]

['https://smallbusiness.yahoo.com',
 'https://help.yahoo.com/kb/index?page=content&y=PROD_FIN_DESK&locale=en_US&id=SLN2310',
 'http://help.yahoo.com/l/us/yahoo/finance/',
 'https://yahoo.uservoice.com/forums/382977',
 'http://info.yahoo.com/privacy/us/yahoo/',
 'http://info.yahoo.com/relevantads/',
 'http://info.yahoo.com/legal/us/yahoo/utos/utos-173.html',
 'https://twitter.com/YahooFinance',
 'https://facebook.com/yahoofinance',
 'http://yahoofinance.tumblr.com']

In [38]:
tables = doc.findall('.//table')

In [118]:
calls = tables[2]

In [119]:
calls

In [120]:
puts = tables[2]

In [121]:
puts

In [122]:
puts.getnext

In [123]:
rows = calls.findall('.//tr')

In [124]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [125]:
_unpack(rows[0], kind='th')

['Strike',
 'Contract Name',
 'Last Price',
 'Bid',
 'Ask',
 'Change',
 '% Change',
 'Volume',
 'Open Interest',
 'Implied Volatility']

In [126]:
_unpack(rows[1], kind='td')

['90.00',
 'AAPL170609P00090000',
 '0.02',
 '0.00',
 '0.02',
 '0.00',
 '0.00%',
 '5',
 '5',
 '206.25%']

In [127]:
from pandas.io.parsers import TextParser

In [128]:
def parse_options_data(table):
    rows = table.findall('.//tr')
    names = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=names).get_chunk()

In [129]:
call_data = parse_options_data(calls)

In [130]:
put_data = parse_options_data(puts)

In [131]:
call_data[:10]

,Strike,Contract Name,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,90.0,AAPL170609P00090000,0.02,0.0,0.02,0.0,0.00%,5,5,206.25%
1,100.0,AAPL170609P00100000,0.01,0.0,0.00,0.0,0.00%,5,5,50.00%
2,110.0,AAPL170609P00110000,0.03,0.0,0.01,0.0,0.00%,1,1,125.00%
3,111.0,AAPL170609P00111000,0.04,0.0,0.02,0.0,0.00%,1,1,131.25%
4,114.0,AAPL170609P00114000,0.05,0.0,0.02,0.0,0.00%,20,20,121.88%
5,115.0,AAPL170609P00115000,0.05,0.0,0.01,0.0,0.00%,20,20,112.50%
6,117.0,AAPL170609P00117000,0.07,0.0,0.02,0.0,0.00%,10,10,112.50%
7,118.0,AAPL170609P00118000,0.06,0.0,0.02,0.0,0.00%,20,20,109.38%
8,119.0,AAPL170609P00119000,0.04,0.0,0.02,0.0,0.00%,1,1,106.25%
9,120.0,AAPL170609P00120000,0.08,0.0,0.01,0.0,0.00%,12,20,96.88%

In [132]:
frame = pd.read_csv('../pydata-book/ch06/ex1.csv')

In [133]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [134]:
import requests

In [135]:
url = 'http://search.twitter.com/search.json?q=python%20pandas'

In [136]:
resp = requests.get(url)

ConnectionError: HTTPConnectionPool(host='search.twitter.com', port=80): Max retries exceeded with url: /search.json?q=python%20pandas (Caused by NewConnectionError('<requests.packages.urllib3.connection.HTTPConnection object at 0x000001EB3744F518>: Failed to establish a new connection: [Errno 11004] getaddrinfo failed',))